:root{
    --neoleasy_green: #3DB580;
    --neoleasy_old_green: #19ad95;
    --neoleasy_old_green2: #179b8c;
    --neoleasy_gray: #495057;
    --white: white;
    --main_border_radius: 100px;
    --navBar_width: 2.8vw;
    --navBar_height_mobile: 8vh;
    --placeholder_color: #707070;
    --sizeH_input: 4vh;

    --shadowGrey: #d2d4dc;
    --iplGrey : #707070;
    --darkBlue: #031c38;
    --headerGrey: #DBDFE5;
}

body {
    margin: 0;
    padding: 0;

    background-color: white;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

body:last-child{
    margin-block-start: auto;
}

footer{
    margin-block-start: auto;
    background: var(--darkBlue);
    color: white;
    margin-top:  3em;
}
footer a{
    color: white;
}

header{
    background: var(--darkBlue);
    color: var(--white);
    width: 100%;
}
header nav a{
    font-weight: 400;
    text-shadow: 2px 2px 2px var(--shadowGrey);
    font-size: .8em;
}

html{
    width: 100vw;
    min-height: 100vh;
}


/* ---------------------- */


.flexCenter{
    display: flex; justify-content: center; align-items: center
}
.flexBetween{
    display: flex; justify-content: space-between; align-items: center
}
.flexColumn{
    flex-direction: column !important;
}
.form > * {
    width: 50%;
    margin: 2px;
}
.form label {
    flex: 1;
    padding: 5px;

}

.txCenter{
    text-align: center;
}

.width100{
    width: 100%;
}
.width50{
    width: 50%;
}


