<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Mot de passe oublié</title>
    <link rel="stylesheet" type="text/css" href="./css/main.css">
    <script src="./commonFunction.js"></script>
</head>
<body>

    <header class="flexCenter">
        <h1>Mot de passe oublié</h1>
    </header>
    <main>

        <div class="flexCenter txCenter" style="height: 30px;" id="notification">

        </div>
        <form class="flexCenter flexColumn form">
            <div class="flexBetween">
                <input type="email" name="email" id="email"  placeholder="mail" required>
                <label for="email">mail</label>
            </div>
            <input type="button" id="submitButton" value="Envoyer un mail">
        </form>
        <div class="width100 flexCenter">
            <a href="/login">
                Déjà un compte? se connecter.
            </a>
        </div>
    </main>
    <footer></footer>


    <script>
        let submitButton = document.getElementById("submitButton")
        let notifField = document.getElementById("notification")

        submitButton.onclick = function (){
            sendMail()
        }

        async function sendMail(){
            if(!isNullOrUndefined(getData("email"))) {
                const body = JSON.stringify({
                    mail: getData("email")
                })
                const res = await handleFetchLogJson(fetch('/forgotPassword', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body
                }));
                if (res.errors) {
                    notifField.textContent = "Impossible d'envoyer un mail "
                } else {
                    notifField.textContent = "Mail envoyé"
                }
            }
            else{
                notifField.textContent = "Impossible d'envoyer un mail, le champ mail est vide "
            }
        }
    </script>
</body>
</html>