<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Mot de passe oublié</title>
    <link rel="stylesheet" href="./css/main.css">
</head>
<body>

    <header class="flexCenter">
        <h1>Mot de passe oublié</h1>
    </header>
    <main>

        <div style="height: 30px;" id="notification">

        </div>
        <form class="flexCenter flexColumn form">
            <div class="flexBetween">
                <input type="email" name="email" id="email"  placeholder="mail" required>
                <label for="email">mail</label>
            </div>
            <input type="button" id="submitButton" value="Envoyer un mail">
        </form>
        <div class="width100 flexCenter">
            <a href="/login">
                Déjà un compte? se connecter.
            </a>
        </div>
    </main>
    <footer></footer>


    <script>
        let submitButton = document.getElementById("submitButton")
        submitButton.onclick = function (){
            sendMail()
        }

        /**
         * @param promise : Promise<Response> :
         */
        function handleFetchLogJson(promise){
            return promise
                .then(response => response.json())
                .then(response =>{
                    console.log(response);
                    return response})
                .catch(e=>console.error(e));
        }

        function getData(inputId){
            return document.getElementById(inputId).value
        }

        async function sendMail(){
            const body = JSON.stringify({
                mail: getData("email")
            })
            const res = await handleFetchLogJson(fetch( '/forgotPassword', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body
            }));
            if(res.errors) {
                document.getElementById("notification").textContent = "Impossible d'envoyer un mail "
            }
            else{
                document.getElementById("notification").textContent = "Mail envoyé"
            }
        }
    </script>
</body>
</html>