<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{{ title }}</title>
        <link rel="stylesheet" href="./css/main.css">

    </head>
    <body>

        <header class="flexCenter">
            <h1>{{ title }}</h1>
        </header>
        <main>

            <div class="flexCenter txCenter" style="height: 30px;" id="notification">

            </div>

            <form class="flexCenter flexColumn form">
                <div class="flexBetween">
                    <input type="email" name="email" id="email"  placeholder="mail" required>
                    <label for="email">mail</label>
                </div>
                <div class="flexBetween">
                    <input type="password" name="password" id="password" required>
                    <label for="password">mot de passe</label>
                </div>
                <input type="button" id="submitButton" value="Se connecter">
            </form>
            <div class="width100 flexCenter">
                <a href="/forgotPassword">
                    Mot de passe oublié?
                </a>
            </div>
        </main>
        <footer></footer>


        <script>
            let submitButton = document.getElementById("submitButton")
            submitButton.onclick = function (){
                login()
            }
            /**
             * @param promise : Promise<Response> :
             */
            function handleFetchLogJson(promise){
                return promise
                    .then(response => response.json())
                    .then(response =>{
                        console.log(response);
                        return response})
                    .catch(e=>console.error(e));
            }

            function getData(inputId){
                return document.getElementById(inputId).value
            }

            async function login(){
                console.log("try login")
                const body = JSON.stringify({
                    mail: getData("email"),
                    password: getData("password"),
                })
                const res = await handleFetchLogJson(fetch( '/login', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body
                }));
                if(!res || res.errors) {
                    document.getElementById("notification").textContent = "Echec de la connexion. "
                }
                else{
                    document.getElementById("notification").textContent = "Connexion réussie."
                    //@todo redirection
                }
            }
        </script>
    </body>
</html>