<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>S'inscrire</title>
</head>
    <body>

    <header></header>
        <main>
            <style>
                .flexCenter{
                    display: flex; justify-content: center; align-items: center
                }
            </style>
            <form class="flexCenter">
                <div class="flexCenter">
                    <input type="text" name="pseudo" id="pseudo" placeholder="pseudo" required>
                    <label for="pseudo">pseudo</label>
                </div>
                <div class="flexCenter">
                    <input type="email" name="email" id="email"  placeholder="mail" required>
                    <label for="email">mail</label>
                </div>
                <div class="flexCenter">
                    <input type="password" name="password" id="password" required>
                    <label for="password">mot de passe</label>
                </div>
                <div class="flexCenter">
                    <input type="password" name="confirmPassword" id="confirmPassword" required>
                    <label for="confirmPassword">confirmez votre mot de passe</label>
                </div>
                <input type="submit">
            </form>
        </main>
        <footer></footer>


        <script>

        </script>
    </body>
</html>