<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>

    <link rel="stylesheet" href="./css/main.css">
    <script src="./commonFunction.js"></script>
</head>
<body>
    <header class="flexCenter">
        <h1>{{ title }}</h1>
    </header>
    <main>
        <form class="flexCenter flexColumn form">
            <div>
                <input type="text" id="pseudo" name="pseudo" placeholder="pseudo" value="{{pseudo}}">
                <label for="pseudo">Pseudo</label>
            </div>
            <div>
                <input type="email" id="email" name="email" placeholder="email"  value="{{mail}}">
                <label for="email">Email</label>
            </div>
            <div>
                <input type="password" id="currentPassword" name="currentPassword" placeholder="Mot de passe actuel" >
                <label for="currentPassword">Mot de passe Actuel</label>
            </div>
            <div>
                <input type="password" id="password" name="password" placeholder="Mot de passe" >
                <label for="password">Nouveau mot de passe</label>
            </div>
            <div>
                <input type="password" id="confirmPassword" name="confirmPassword" placeholder="Confirmer mot de passe">
                <label for="confirmPassword">Confirmer votre mot de passe</label>
            </div>
            <div class="flexCenter txCenter" style="height: 30px;" id="notification">

            </div>
            <input type="button" id="updateProfileBtn" value="Mettre à jour">
        </form>
        <div class="width100 flexCenter">
            <a href="/login">
                Déjà un compte? se connecter.
            </a>
        </div>
    </main>
    <footer></footer>



    <script>
        updateProfileBtn = document.querySelector('#updateProfileBtn');
        updateProfileBtn.addEventListener('click', () => {
            resetUserData();
        })


        async function resetUserData(){
            if (getData('password') === getData('confirmPassword')) {
                const body = JSON.stringify({
                    mail: getData('email'),
                    pseudo: getData('pseudo'),
                    password: getData('password'),
                    confirmPassword:getData('confirmPassword'),
                    oldPassword:getData('currentPassword')
                })
                const res = await handleFetchLogJson(fetch( '/updateUserProfile', {
                    method: 'PATCH',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body
                }));
                if(res.errors) {
                    document.getElementById("notification").textContent = "Mise à jour impossible."
                }
                else {
                    document.getElementById("notification").textContent = "Profil mis à jour."
                    //@todo redirection
                }
            }
            else {
                document.getElementById("notification").textContent = "Les mots de passe ne correspondent pas."
            }
        }

    </script>
</body>
</html>