<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
</head>
<body>
    <h1>{{title}}</h1>
    <form class="flexCenter flexColumn form">
        <div>
            <label for="pseudo">Pseudo</label>
            <input type="text" id="pseudo" name="pseudo" placeholder="pseudo" value="{{pseudo}}">
        </div>
        <div>
            <label for="email">Email</label>
            <input type="mail" id="email" name="email" placeholder="email"  value="{{mail}}">
        </div>
        <div>
            <label for="password">Mot de passe</label>
            <input type="password" id="password" name="password" placeholder="password"  value="{{password}}">
        </div>
        <div>
            <label for="confirmPassword">Confirmer votre mot de passe</label>
            <input type="password" id="confirmPassword" name="confirmPassword" placeholder="confirmPassword">
        </div>
        <div style="height: 30px; font-weight: bold;" id="notification"></div>
        <input type="button" id="updateProfileBtn" value="Mettre à jour">
    </form>


    <script>
        updateProfileBtn = document.querySelector('#updateProfileBtn');
        updateProfileBtn.addEventListener('click', () => {
            resetUserData();
        })

        function getData(input) {
            return document.getElementById(input).value;
        }

        /**
         * @param promise : Promise<Response> :
         */
         function handleFetchLogJson(promise){
            return promise
                .then(response => response.json())
                .then(response => {
                    console.log(response);
                    return response
                })
                .catch(err => console.error(err));
        }

        async function resetUserData(){
            if (getData('password') === getData('confirmPassword')) {
                const body = JSON.stringify({
                    mail: getData('email'),
                    pseudo: getData('pseudo'),
                    password: getData('password'),
                })
                const res = await handleFetchLogJson(fetch( '/user/updateUserProfile', {
                    method: 'PATCH',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body
                }));
                if(res.errors) {
                    document.getElementById("notification").textContent = "Mise à jour impossible."
                }
                else {
                    document.getElementById("notification").textContent = "Profil mis à jour."
                    //@todo redirection
                }
            } else {
                document.getElementById("notification").textContent = "Les mots de passe ne correspondent pas."
            }
        }

    </script>
</body>
</html>