<div class="flexCenter txCenter" style="height: 30px;" id="notification">

</div>
<form class="flexCenter flexColumn form">
    <div class="flexBetween">
        <input type="text" name="pseudo" id="pseudo" placeholder="pseudo" required>
        <label for="pseudo">pseudo</label>
    </div>
    <div class="flexBetween">
        <input type="email" name="email" id="email"  placeholder="mail" required>
        <label for="email">mail</label>
    </div>
    <div class="flexBetween">
        <input type="password" name="password" id="password" required>
        <label for="password">mot de passe</label>
    </div>
    <div class="flexBetween">
        <input type="password" name="confirmPassword" id="confirmPassword" required>
        <label for="confirmPassword">confirmez le mot de passe</label>
    </div>
    <div class="flexBetween">
        <select name="role" id="role">

            <option value="user" selected>User</option>
            <option value="admin">Admin</option>
    
        </select>
    </div>
    <input type="button" id="submitButton" value="Créer">
</form>

