<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>

    <link rel="stylesheet" type="text/css" href="./css/main.css">
    <script src="./commonFunction.js"></script>
</head>
<body>
    <header class="flexCenter">
        <h1>{{ title }}</h1>
    </header>
    <main>
        <form class="flexCenter flexColumn form" method="post">
            <label for="email">Saisir votre email pour supprimer votre compte</label>
            <input type="email" id="email" name="email" placeholder="Saisir votre email">
            <input type="password" id="password" name="password" placeholder="Mot de passe">
            <input type="button" id="deleteUserAcc" value="Supprimer mon compte">
        </form>
        <div class="flexCenter txCenter" style="height: 30px;" id="notification">

        </div>
    </main>
    <footer></footer>

    <script>
        let deleteUserAcc = document.querySelector('#deleteUserAcc');
        deleteUserAcc.addEventListener('click', () => {
            deleteUser();
        })
        
        /**
        function handleFetchLogJson(promise){
            return promise
            .then(response => response.json())
            .then(response => {
                console.log(response);
                return response
            })
            .catch(err => console.error(err));
        }
        
        function getData(input) {
            return document.getElementById(input).value;
        }*/

        async function deleteUser() {
            if (getData('email') && getData('password')) {
                const body = JSON.stringify({
                    mail: getData('email'),
                    password: getData('password'),
                })
                const res = await handleFetchLogJson(fetch( '/deleteUserProfile', {
                    method: 'DELETE',
                    headers: {'Content-Type': 'application/json'},
                    body
                }));
                if(res.errors) {
                    document.getElementById("notification").textContent = "Une erreur est survenue."
                }
                else {
                    document.getElementById("notification").textContent = "Compte supprimé avec succès."
                    //@todo redirection
                } 
            } else {
                document.getElementById("notification").textContent = "Veuillez remplir tous les champs."
            }
        }
    </script>
</body>
</html>